# Variáveis de Ambiente e Segredos (CRÍTICO)
.env
.env.*

# Foundry / Compilação
out/
cache/
broadcast/

# Hardhat / Compilação e Testes
artifacts_hardhat/
cache_hardhat/
coverage/
coverage.json

# Node / Dependências (Se houver no futuro)
node_modules/

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db